# Envloom MariaDB config
[mariadb]
port=3306
bind-address=127.0.0.1
log_error=D:/codigo/pnms/src-tauri/logs/mariadb/mariadb.error.log
general_log=1
general_log_file=D:/codigo/pnms/src-tauri/logs/mariadb/mariadb.general.log
slow_query_log=1
slow_query_log_file=D:/codigo/pnms/src-tauri/logs/mariadb/mariadb.slow.log

[client]
user=root
password=rocketbot
